cp -f /etc/step-ca/auth.tucc.io-web.crt /opt/authentik/certs/auth.tucc.io-web.pem
cp -f /etc/step-ca/auth.tucc.io-web.key /opt/authentik/certs/auth.tucc.io-web.key
chmod 666 /opt/authentik/certs/auth.tucc.io-web.pem
chmod 666 /opt/authentik/certs/auth.tucc.io-web.key

cp -f /etc/step-ca/auth.tucc.io-ldap.crt /opt/authentik/certs/auth.tucc.io-ldap.pem
cp -f /etc/step-ca/auth.tucc.io-ldap.key /opt/authentik/certs/auth.tucc.io-ldap.key
chmod 666 /opt/authentik/certs/auth.tucc.io-ldap.pem
chmod 666 /opt/authentik/certs/auth.tucc.io-ldap.key