[Unit]
Description=Bitwarden
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User={{ service_user }}
Group={{ service_user }}
ExecStart={{ bitwarden_dir }}/bitwarden.sh start
ExecStop={{ bitwarden_dir }}/bitwarden.sh stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target