[Service]
ExecStartPost=
ExecStartPost=logger "Starting Cert Renewer Override..."
ExecStartPost=cp /etc/step-ca/{{ external_domain }}.crt {{bitwarden_dir}}/bwdata/ssl/{{ external_domain }}/certificate.crt
ExecStartPost=cp /etc/step-ca/{{ external_domain }}.key {{bitwarden_dir}}/bwdata/ssl/{{ external_domain }}/private.key
ExecStartPost=chmod 0640 {{bitwarden_dir}}/bwdata/ssl/{{ external_domain }}/certificate.crt
ExecStartPost=chmod 0640 {{bitwarden_dir}}/bwdata/ssl/{{ external_domain }}/private.key
ExecStartPost=chown {{ service_user }}:{{ service_user }} {{bitwarden_dir}}/bwdata/ssl/{{ external_domain }}/certificate.crt
ExecStartPost=chown {{ service_user }}:{{ service_user }} {{bitwarden_dir}}/bwdata/ssl/{{ external_domain }}/private.key
ExecStartPost=/opt/bitwarden/bitwarden.sh updateself
ExecStartPost=/opt/bitwarden/bitwarden.sh update
ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-enabled %i.service || systemctl try-reload-or-restart %i"
ExecStartPost=logger "Cert Renew Override Complete..."
