upstream php {
    server unix:/var/run/php/php7.2-fpm.sock;
    server 127.0.0.1:9000;
}

# HTTP

server {
    listen       80 default_server;
    root         /opt/polr/public;
    index        index.php index.html index.htm;
    server_name  short.tucc.io;


    location / {
            try_files $uri $uri/ /index.php$is_args$args;
            # rewrite ^/([a-zA-Z0-9]+)/?$ /index.php?$1;
    }

    location ~ \.php$ {
            try_files $uri =404;
            include fastcgi.conf;

            fastcgi_pass    php;
            fastcgi_index   index.php;
            fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_param   HTTP_HOST       $server_name;
    }
}