
[Service]
ExecStartPost=
ExecStartPost=cp {{ smallstep_certificate_full_path }} /etc/pve/nodes/{{ node_name }}/pve-ssl.pem
ExecStartPost=cp {{ smallstep_key_full_path }} /etc/pve/nodes/{{ node_name }}/pve-ssl.key
ExecStartPost=chmod 0640 /etc/pve/nodes/{{ node_name }}/pve-ssl.key
ExecStartPost=chmod 0640 /etc/pve/nodes/{{ node_name }}/pve-ssl.pem
ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-enabled %i.service || systemctl try-reload-or-restart %i"
