server {
    listen 80;
    listen [::]:80;

    return 301 https://$server_name$request_uri;
}
 server {
    listen 443 ssl;
    listen [::]:443 ssl;

    root /var/www/jirafeaucl;
    index index.php;
    ssl on;
    ssl_certificate {{ ssl_cert_location }};
    ssl_certificate_key {{ ssl_key_location }};

    location ~ \.php$ {
        fastcgi_split_path_info  ^(.+\.php)(/.+)$;
        fastcgi_index            index.php;
        fastcgi_pass             unix:/var/run/php/php{{ php_version }}-fpm.sock;
        include                  fastcgi_params;
        fastcgi_param   PATH_INFO       $fastcgi_path_info;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}