#!/bin/bash

################################################################################
# Config Options

# Kerberos realm -- also used (in lowercase) as AD DNS domain
REALM="AD.{{ workgroup_upper }}"

# NetBIOS domain name (Workgroup)
DOMAIN="{{ workgroup_lower }}"

# Initial Administrator password -- must meet complexity requirements
ADMINPASS="{{ admin_password }}"

################################################################################
set -e


samba-tool domain provision \
    --use-rfc2307 \
    --server-role=dc \
    --dns-backend=SAMBA_INTERNAL \
    --realm="${REALM}" \
    --domain="${DOMAIN}" \
    --adminpass="${ADMINPASS}"